@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 100 700;
	src: url('/fonts/RobotoMono.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 100 700;
	src: url('/fonts/RobotoMono-Italic.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400 900;
	src: url('/fonts/Vollkorn.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Vollkorn';
	font-style: italic;
	font-weight: 400 900;
	src: url('/fonts/Vollkorn-Italic.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Inter';
	font-style: oblique -10deg 0deg;
	font-weight: 100 900;
	src: url('/fonts/Inter.woff2') format('woff2-variations');
}

$font-mono: Roboto Mono, monospace;
$font-text: Vollkorn, -apple-system, Georgia, Segoe UI, Microsoft YaHei, serif;
$font-main: Inter, -apple-system, Segoe UI, Microsoft YaHei, sans-serif;

$color-pale: rgba(240, 240, 240, 1);
$color-dark: rgba(60, 60, 60, 1);
$color-mask: rgba(120, 120, 120, 0.1);
$color-main: MediumBlue;
