@import 'https://fonts.googleapis.com/css2?family=Codystar&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap';

$font-head: Codystar, monospace;
$font-mono: Roboto Mono, Menlo, monospace;
$font-note: Inter, -apple-system, Segoe UI, Microsoft YaHei, sans-serif;
$font-main: Lato, -apple-system, Segoe UI, Microsoft YaHei, sans-serif;

$color-pale: rgba(215, 220, 220, 1);
$color-dark: rgba(30, 30, 30, 1);
$color-mask: rgba(150, 150, 150, 0.2);
