@import '../styles/_vars.scss';

.container {
	margin: 0 24rem;
}

.header {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: rgba(240, 240, 240, 0.5);
	backdrop-filter: blur(10px);
}

.navbar {
	margin: 0 24rem;
	height: 8rem;
	display: grid;
	grid-template-columns: 1fr auto auto;
	grid-column-gap: 2rem;
	align-items: center;
}

.navbar a:hover {
	color: $color-main;
	text-decoration: underline;
}

.footer {
	margin: 0 24rem;
	height: 8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.icon,
.icon a {
	display: flex;
}

.time {
	display: flex;
	font-size: 0.75rem;
}

.time span {
	margin-right: 0.25rem;
}

.time time {
	font-feature-settings: 'tnum';
}

@media (max-width: 600px) {
	.container,
	.navbar,
	.footer {
		margin: 0 2rem;
	}

	.navbar {
		height: 4rem;
		grid-column-gap: 1rem;
	}

	.footer {
		height: 4rem;
	}
}
