@import '../styles/_vars.scss';

.homeMain {
	display: flex;
	flex-flow: column;
	width: clamp(600px, 50vw, 1200px);
}

.homeSlogan {
	display: flex;
	align-items: center;
	height: 4rem;
}

.homePic {
	position: relative;
	width: clamp(300px, calc(calc(100vh - 16rem) / 1.5), 600px);
	height: clamp(450px, calc(100vh - 16rem), 900px);
}

.infoMain {
	display: flex;
	flex-flow: column;
	width: clamp(600px, 50vw, 1200px);
}

.infoNickName {
	margin-top: 2rem;
	font-size: 2rem;
	font-weight: 700;
}

.infoRealName {
	color: $color-pale;
}

.infoRealName::selection {
	background: $color-main;
}

.infoMain ul {
	margin: 1rem 0;
	padding: 0;
}

.infoSocial li a {
	color: $color-main;
	margin-left: 0.25rem;
}

.infoSocial li a:hover {
	text-decoration: underline;
}

.listIntro {
	margin-top: 4rem;
	width: clamp(600px, 50vw, 1200px);
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2rem;
}

.listCard {
	display: flex;
	flex-flow: column;
	border: 1px solid $color-main;
	padding: 1rem 2rem;
	box-sizing: border-box;
}

.listCard span {
	color: $color-main;
}

.listCard ul {
	margin-block: 0;
	padding-inline: 0;
}

.listLink li a {
	color: $color-main;
	margin-left: 0.25rem;
}

.listLink li a:hover {
	text-decoration: underline;
}

.postList {
	width: clamp(600px, 50vw, 1200px);
	padding: 4rem 0;
	display: grid;
	grid-auto-rows: auto;
	row-gap: 1rem;
}

.postList li {
	display: grid;
	grid-template-columns: 1fr 8rem;
	align-items: baseline;
}

.postList li time {
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	font-family: $font-mono;
	font-size: 0.75rem;
}

.articleMain {
	width: clamp(600px, 50vw, 1200px);
	margin: 4rem 0;
	padding: 4rem;
	border: 1px solid $color-main;
}

.articleMain h1 {
	font-size: 2rem;
	font-family: $font-text;
}

.articleMain h2 {
	font-size: 1.5rem;
}

.articleMain h3 {
	font-size: 1.125rem;
}

.articleMain a {
	color: $color-main;
}

.articleMain a:hover {
	text-decoration: underline;
}

.articleMain pre {
	overflow: auto;
	background: $color-mask;
	padding: 0.5rem 1rem;
}

.articleMain pre code {
	position: inherit;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: none;
}

.articleMain code {
	position: relative;
	word-break: break-all;
	font-family: $font-mono;
	font-size: 0.75rem;
	background: rgba(50, 100, 150, 0.1);
	margin: 0 2px;
	padding: 2px 4px;
	border-radius: 4px;
}

.articleMain img {
	max-width: 100%;
	max-height: 480px;
}

.articleMain ol,
.articleMain ul,
.articleMain blockquote {
	margin-inline: 0;
	padding-inline: 1rem;
}

.articleMain blockquote {
	padding-block: 0.5rem;
	background: $color-mask;
	border-radius: 0.5rem;
}

.articleMain li {
	list-style: disc;
}

.articleSign {
	margin: 4rem 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.875rem;
}

.articleIcon {
	font-size: 1rem;
	cursor: pointer;
}

@media (max-width: 600px) {
	.homeMain {
		width: 100%;
	}

	.homePic {
		width: calc(100vw - 3rem);
		height: calc(150vw - 4.5rem);
	}

	.infoMain {
		width: 100%;
	}

	.listIntro {
		width: 100%;
		display: flex;
		flex-flow: column;
		row-gap: 2rem;
	}

	.listCard {
		padding: 1rem;
	}

	.postList {
		width: 100%;
		padding: 2rem 0;
	}

	.postList li {
		display: grid;
		grid-template-columns: auto;
	}

	.postList li time {
		align-items: flex-start;
	}

	.articleMain {
		margin: 0;
		padding: 0;
		width: 100%;
		border: none;
	}

	.articleMain img {
		max-height: 100%;
	}
}
