@import '../styles/_vars.scss';

.main {
	min-height: calc(100vh - 4rem);
}

.icon {
	display: flex;
	align-items: center;
}

.homeMain {
	min-height: calc(100vh - 4rem);
	display: flex;
	justify-content: space-between;
}

.homeSlogan {
	display: flex;
	align-items: center;
	font-family: $font-text;
	font-size: 1.125rem;
	height: 4rem;
}

.homePic {
	margin: 4rem 0;
	position: relative;
	width: calc((100vh - 12rem) / 1.5);
	height: calc(100vh - 12rem);
}

.blogList {
	padding: 4rem 8rem;
	display: grid;
	grid-auto-rows: auto;
	row-gap: 1rem;
}

.blogList li {
	display: grid;
	grid-template-columns: 8rem 1fr;
	align-items: baseline;
	padding: 0.75rem 1.5rem;
	border-radius: 0.75rem;
}

.blogList li:hover {
	background: $color-mask;
}

.blogList li time {
	font-family: $font-mono;
	font-size: 0.875rem;
}

.blogList li a {
	font-size: 1.125rem;
}

.blogIcon {
	color: $color-main;
	font-size: 1.25rem;
	cursor: pointer;
}

.blogMain {
	margin: 4rem calc(50vw - 30rem);
	min-height: calc(100vh - 4rem);
	padding: 4rem;
	border: 1px solid $color-main;
	border-radius: 0.75rem;
}

.blogMain h1 {
	font-size: 2rem;
	font-weight: 800;
}

.blogMain h2 {
	font-size: 1.5rem;
	font-weight: 700;
}

.blogMain h3 {
	font-size: 1.125rem;
	font-weight: 600;
}

.blogMain a {
	color: $color-main;
}

.blogMain a:hover {
	text-decoration: underline;
}

.blogMain blockquote {
	background: $color-mask;
	margin: 1rem 0;
	padding: 0.5rem 1.5rem;
	border-inline-start: 5px solid $color-mask;
}

.blogMain ol,
.blogMain ul {
	margin: 1rem 0;
	padding-inline-start: 2rem;
}

.blogMain li {
	margin: 0;
	list-style: disc;
}

.blogMain p {
	font-family: $font-text;
}

.blogMain code {
	font-family: $font-mono;
	font-size: 0.75rem;
	background-color: $color-mask;
	padding: 2px 5px;
	border-radius: 5px;
}

.blogSign {
	margin: 4rem 0 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	font-family: $font-text;
	font-style: italic;
}

@media (max-width: 600px) {
	.homeMain {
		flex-flow: column;
		justify-content: flex-start;
	}

	.homeSlogan {
		font-size: 1rem;
	}

	.homePic {
		margin: 4rem 0;
		width: calc(100vw - 4rem);
		height: calc(150vw - 6rem);
	}

	.blogList {
		margin: 2rem 0;
		padding: 0;
	}

	.blogList li {
		display: grid;
		grid-template-columns: auto;
		padding: 0;
		border-radius: 0;
	}

	.blogList li:hover {
		background: none;
	}

	.blogMain {
		margin: 1rem 0;
		padding: 0;
		border: none;
		border-radius: 0;
	}
}
